.profile-picture {
  margin: 50px;
  padding: 100px;
  float: right;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.profile-picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}